@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  font: sans-serif;
}

.nav-bar{
  background-color: #4503b0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-size: 2vw;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 40px;
}

.main-content{
  flex-direction: column;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.main-content input{
  background-color: transparent;
  color: #18173e;
  height: 40px;
  min-width: 30vw;
  border: 1.5px solid #18173e;
  border-radius: 10px;
  padding: 0 20px;
  outline: none;
}

.main-content input:active{
  border-color: #4503b0;
}

button{
  background-color: #4503b0;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
}

button:hover{
  background-color: rgb(83, 25, 176);
  outline: 2px solid white;
}

button:active{
  background-color: #4503b0;
}

.tasks-div{
  margin: 20px 40px;
  padding: 20px 40px;
  border: 1px solid #4503b0;
  border-radius: 15px;
  color: #111111;
}

.tasks-div:hover{
  outline: 1.5px solid #4503b0;
}

.task{
  display: flex;
  justify-content: space-around;
  color: #111111;
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 10px;
  text-align: start;
}

.task h1{
  font-weight: 600;
  color: #222222;
}

.task h3{
  color: #555555;
}

.task:nth-child(2n){
  background-color: #4503b021;
}

.delete-btn{
  background-color: transparent;
  color: rgba(255, 0, 0, 0.800);
  border: 1px solid rgba(255, 0, 0, 0.800);
  border-radius: 10px;
  padding: 5px 8px ;
}

.delete-btn:hover{
  color: white;
  background-color: rgba(255, 0, 0, 0.800);
  border-color: red;
  
}

.completed-tasks{
  flex-direction: column;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}